@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*

{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
    padding:0;
}

.topnav
 {
    font-family: 'Quicksand',sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:red;
    display: flex;
    justify-content: left;
    position: absolute;
    left:50px;
    top: 40px;
    
}
.topnav a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .15rem solid #fff;
}
 


body 
{
    background-image: url(https://dmarket.com/blog/best-csgo-wallpapers/tercsgo_huc01d3a403c050d47715d6aeed15b344f_839613_1920x1080_resize_q75_lanczos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container
{
    position: relative;
    background: rgba(255, 255,255, 0.05);
    border-radius: 16px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top:1px solid rgba(255, 255,255, 0.2);
    border-left:1px solid rgba(255, 255,255, 0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.container .calculator
{
    position: relative;
    display: grid;
}
.container .calculator .value
{
    grid-column: span 4;
    height:140px;
    width: 300px;
    text-align:right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: #fff;

    border-bottom:1px solid rgba(255, 255,255, 0.05);
    border-right:1px solid rgba(255, 255,255, 0.05);

}
.container .calculator span
{
    display:grid;
    place-items: center;
    height: 75px;
    width: 75px;
    color: #fff;
    font-weight : 400;
    cursor:pointer;
    font-size: 20px;
    user-select:none;
    border-bottom:1px solid rgba(255, 255,255, 0.05);
    border-right:1px solid rgba(255, 255,255, 0.05);
    transition: 0.5s;
}
.container .calculator span:hover
{
    transition: 0s;
    background : rgba(255, 255,255, 0.05);
}

.container .calculator span:active
{
    background: #14ff47;
    color: #192f00;
    font-size: 24px;
    font-weight: 500;
}

.container .calculator .clear
{
    grid-column: span 2;
    width: 150px;
    background:rgba(255, 255,255, 0.05);
}
.container .calculator .plus
{
    grid-row: span 2;
    height: 150px;
    
}
.equal
{
    background:rgba(255, 255,255, 0.05);
}